.Container {
  position: relative;
  width: 100%;
  height: 100%;
}

.AvatarImage {
  width: 100%;
  border: solid 2px var(--primary);
}

.ChangeOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border: solid 2px var(--secondary);
  cursor: pointer;
}
