.NavBar {
  position: sticky;
  top: 0;
  padding: 0;
  background-color: var(--background-alt);
}

.NavBar a,
.NavBar button {
  margin: 0 5px;
}

.NavBarRow {
  padding: 0.5em 0;
  margin: 0;
  border-bottom: solid 2px var(--border);
}

.Menu {
  padding: 0;
  margin: 0;
  width: 200px;
}

.Menu a {
  margin: 0;
  width: 100%;
}

.Profile {
  display: inline-block;
  margin: 0 5px;
  width: 2.5em;
}

.Logo {
  min-height: 2.5em;
  height: 5vw;
  max-height: 5em;
}
