.NavBar {
  position: sticky;
  top: 0;
  padding: 0;
  background-color: var(--background-alt);
  z-index: 1;
}

.NavBar a,
.NavBar button {
  margin: 0 5px;
}

.NavBarRow {
  padding: 0.5em 0;
  margin: 0;
  border-bottom: solid 2px var(--border);
}

.NavMenu {
  width: 200px;
}

.NavMenu a {
  text-align: left;
  margin: 0;
  width: 100%;
}

.UserMenu {
  width: 200px;
}

.UserMenu a,
.UserMenu button {
  text-align: right;
  margin: 0;
  width: 100%;
}

.Profile {
  margin: 0 5px;
  border: none;
  width: 2.4em;
}

.Logo {
  min-height: 2.5em;
  height: 5vw;
  max-height: 5em;
}
