/* Posts page post blurb */
.PostBlurb {
  transition: transform 0.2s;
  position: relative;
}

.PostBlurb:hover {
  border-radius: 0.375rem;
  z-index: 1;
  box-shadow: 0 0 0 0.15rem var(--primary);
  transform: scale(1.2);
}

.PostHeader {
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PostBlurb img {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
}

.PostLikes i {
  color: var(--primary);
}

.PostDislikes i {
  color: var(--danger);
}
