@import url("https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Koulen&display=swap");

:root {
  --primary: #3ad555;
  --primary-tint: #219c36;
  --secondary: #ff8200;
  --secondary-tint: #b25a00;
  --danger: #dc3545;
  --danger-tint: #a21c29;
}

* {
  box-sizing: border-box;
  font-family: "Hind", sans-serif;
  color: var(--text);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Koulen", sans-serif;
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

i {
  color: inherit;
}

.modal-content {
  text-align: center;
}

.modal-body {
  width: 85%;
  margin: 0 auto;
}

.modal-footer {
  justify-content: center;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--text);
  border-color: var(--primary);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--primary-tint);
  border-color: var(--primary);
  box-shadow: 0 0 0 0.15rem var(--primary);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--text-alt);
  border-color: var(--secondary);
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--secondary-tint);
  border-color: var(--secondary);
  box-shadow: 0 0 0 0.15rem var(--secondary);
}

.btn-danger {
  background-color: var(--danger);
  border-color: var(--danger);
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: var(--danger-tint);
  border-color: var(--danger);
  box-shadow: 0 0 0 0.15rem var(--danger);
}

.btn-group .btn {
  width: 25%;
}

.dropdown-menu {
  padding: 0.5em;
}

.dropdown-item {
  padding: 0;
  border-radius: 6px;
}

.card-header,
.card-footer {
  background-color: var(--background-alt);
  border-color: var(--border);
}

.card,
.card-body {
  border-color: var(--border);
  background-color: var(--background);
}
